html {
	font-size: 62.5%;
}

body {
	width: 80%;
	max-width: 1250px;
	margin: 1em auto;
	font-size: 1.6rem;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
}

body > section,
header {
	width: 100%;
	margin: 0 0 1em 0;
}

header p {
	margin: 0;
	line-height: 1.5;
}

h1, h2 {
	margin: 0;
}

h2 {
	font-size: 2.4rem;
	padding: 1rem;
}

section ul {
	padding-right: 1rem;
}

.flexbox body {
	display: flex;
	flex-wrap: wrap;
}

.flexbox section {
	flex-grow: 1;
}

#profile,
#experience-web,
#experience-physical {
	background-color: rgba(133,158,220,.17);
}

#profile h2,
#experience-web h2,
#experience-physical h2 {
	background-color: rgba(133,158,220,1);
}

#experience-general,
#experience-software {
	background-color: rgba(92,119,178,.17);
}

#experience-general h2,
#experience-software h2 {
	background-color: rgba(92,119,178,1);
}

#work-experience {
	background-color: rgba(53,83,138,.17);
}

#work-experience h2 {
	background-color: rgba(53,83,138,1);
}

#education,
#references {
	background-color: rgba(2,49,100,.17);
}

#education h2,
#references h2 {
	background-color: rgba(2,49,100,1);
}

@media (min-width: 50em) {
	
	.flexbox header {
		display: flex;
		justify-content: space-between;
	}

	header p {
		text-align: right;
	}

	.half-width {
		width: 48%;
	}

	.half-width:nth-child(even) {
		margin-left: 1em;
	}

	.half-width:last-of-type {
		margin-left: 1em;
	}

	.half-width:nth-child(8) {
		margin-left: 0;
	}

}
